.grid-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 60px; }

.grid-container-slim {
  width: 100%;
  max-width: 948px;
  margin: auto;
  padding: 0 60px; }

hr {
  width: 100%;
  height: 1px;
  margin: 20px auto;
  padding: 0;
  border: 0; }

.button {
  display: block;
  min-width: 200px;
  height: 52px;
  padding-top: 12px;
  border: none;
  cursor: pointer;
  -webkit-transition: color .3s, background-color .3s, -webkit-transform .3s;
  transition: color .3s, background-color .3s, -webkit-transform .3s;
  -o-transition: color .3s, background-color .3s, transform .3s;
  transition: color .3s, background-color .3s, transform .3s;
  transition: color .3s, background-color .3s, transform .3s, -webkit-transform .3s;
  text-decoration: none;
  text-align: center; }
  .button.button-text {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em; }
  .button.button-black {
    padding-top: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em; }
    .button.button-black:hover {
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03); }
  .button.button-border {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    border: 1px solid; }

@media screen and (max-width: 639px) {
  .grid-container,
  .grid-container-slim {
    padding: 0 24px; }
  .button {
    padding-top: 12px; }
    .button.button-text {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em; }
    .button.button-black, .button.button-border {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em; } }

.main-content {
  padding: 80px 0 60px; }
  .main-content .career-item {
    padding-bottom: 67px; }
    .main-content .career-item:last-child {
      padding-bottom: 0; }
    .main-content .career-item .title-box {
      padding-bottom: 16px; }
    .main-content .career-item .descr {
      padding-bottom: 22px; }
      .main-content .career-item .descr span {
        color: #343434;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.01em; }
    .main-content .career-item .list {
      padding-bottom: 19px; }
      .main-content .career-item .list .list-title {
        padding-bottom: 7px; }
      .main-content .career-item .list ul li {
        position: relative;
        padding: 6px 0 6px 18px;
        color: #343434;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em; }
        .main-content .career-item .list ul li:before {
          content: '';
          position: absolute;
          top: 16px;
          left: 1px;
          width: 6px;
          height: 6px;
          background-color: #000007; }
    .main-content .career-item .button-apply {
      padding-top: 7px; }
      .main-content .career-item .button-apply .button {
        width: 240px;
        color: #000007;
        border-color: #000007;
        background-color: #FFFFFF; }
        .main-content .career-item .button-apply .button:hover {
          color: #FFFFFF;
          border-color: #FFFFFF;
          background-color: #000007; }

@media screen and (max-width: 639px) {
  .main-content {
    padding: 63px 0 30px; }
    .main-content .career-item {
      padding-bottom: 67px; }
      .main-content .career-item .descr span {
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.01em; }
      .main-content .career-item .list {
        padding-bottom: 19px; }
        .main-content .career-item .list .list-title {
          padding-bottom: 7px; }
        .main-content .career-item .list ul li {
          padding: 4px 0 4px 16px;
          font-weight: normal;
          font-size: 15px;
          line-height: 21px;
          letter-spacing: 0.01em; }
          .main-content .career-item .list ul li:before {
            top: 12px;
            left: 1px;
            width: 5px;
            height: 5px; }
      .main-content .career-item .button-apply {
        padding-top: 7px; }
        .main-content .career-item .button-apply .button {
          width: 100%; } }

body.dark .main-content .career-item .descr span {
  color: #DFDFDF; }

body.dark .main-content .career-item .list .list-title h4 {
  color: #FFFFFF; }

body.dark .main-content .career-item .list ul li {
  color: #DFDFDF; }
  body.dark .main-content .career-item .list ul li:before {
    background-color: #DFDFDF; }

body.dark .main-content .career-item .button-apply .button {
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.65);
  background-color: #000007; }
  body.dark .main-content .career-item .button-apply .button:hover {
    color: #000007;
    border-color: #000007;
    background-color: #FFFFFF; }
