.grid-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 60px; }

.grid-container-slim {
  width: 100%;
  max-width: 948px;
  margin: auto;
  padding: 0 60px; }

hr {
  width: 100%;
  height: 1px;
  margin: 20px auto;
  padding: 0;
  border: 0; }

.button {
  display: block;
  min-width: 200px;
  height: 52px;
  padding-top: 12px;
  border: none;
  cursor: pointer;
  -webkit-transition: color .3s, background-color .3s, -webkit-transform .3s;
  transition: color .3s, background-color .3s, -webkit-transform .3s;
  -o-transition: color .3s, background-color .3s, transform .3s;
  transition: color .3s, background-color .3s, transform .3s;
  transition: color .3s, background-color .3s, transform .3s, -webkit-transform .3s;
  text-decoration: none;
  text-align: center; }
  .button.button-text {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em; }
  .button.button-black {
    padding-top: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em; }
    .button.button-black:hover {
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03); }
  .button.button-border {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    border: 1px solid; }

@media screen and (max-width: 639px) {
  .grid-container,
  .grid-container-slim {
    padding: 0 24px; }
  .button {
    padding-top: 12px; }
    .button.button-text {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em; }
    .button.button-black, .button.button-border {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em; } }

.hero-screen {
  position: relative;
  padding: 80px 0 116px; }
  .hero-screen .title-box {
    padding-bottom: 16px; }
  .hero-screen .project-cat-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    color: rgba(89, 89, 89, 0.7);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em; }
    .hero-screen .project-cat-date .category {
      padding-right: 20px; }
  .hero-screen .project-descr {
    width: 100%;
    max-width: 870px;
    color: #000007;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.01em; }
  .hero-screen .blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .hero-screen .blur-bg .blur {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: rgba(255, 255, 255, 0.9);
      -webkit-backdrop-filter: blur(60px);
      backdrop-filter: blur(60px); }
    .hero-screen .blur-bg img {
      max-width: 85%; }

.problems-section {
  padding-bottom: 130px; }
  .problems-section .section-title {
    padding-bottom: 40px; }
  .problems-section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .problems-section .wrapper .item {
      width: calc( (100% - 84px) / 4); }
      .problems-section .wrapper .item .title {
        padding-bottom: 13px; }

.ipad-pro-section {
  position: relative;
  padding-bottom: 127px;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.19)) drop-shadow(0px 18px 47px rgba(0, 0, 0, 0.11));
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.19)) drop-shadow(0px 18px 47px rgba(0, 0, 0, 0.11)); }
  .ipad-pro-section .ipad-mask {
    pointer-events: none; }
    .ipad-pro-section .ipad-mask img {
      width: 100%;
      height: auto; }
  .ipad-pro-section .image-comparison-box {
    position: absolute;
    top: 6.6%;
    left: 3.48%;
    right: 3.27%;
    z-index: -1;
    pointer-events: all; }
  .ipad-pro-section .cocoen-drag {
    width: 4px;
    height: 100%;
    z-index: 3;
    cursor: ew-resize;
    background-color: #343434;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15), 0px 0px 3px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15), 0px 0px 3px rgba(0, 0, 0, 0.24); }
    .ipad-pro-section .cocoen-drag:before {
      width: 64px;
      height: 64px;
      margin: -32px 0 0 -32px;
      border-radius: 64px;
      background: #343434 url(../assets/images/comparison-drag.svg) center center no-repeat;
      border: 0;
      -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15), 0px 0px 3px rgba(0, 0, 0, 0.24);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15), 0px 0px 3px rgba(0, 0, 0, 0.24); }

.content-section .safari-bar .light {
  display: block; }

.content-section .safari-bar .dark {
  display: none; }

.content-section .design-image {
  padding-bottom: 28px;
  -webkit-filter: drop-shadow(0px 1.5px 2.7px rgba(0, 0, 0, 0.02)) drop-shadow(0px 3.7px 7px rgba(0, 0, 0, 0.03)) drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.04)) drop-shadow(0px 16px 29px rgba(0, 0, 0, 0.05)) drop-shadow(0px 43px 80px rgba(0, 0, 0, 0.07));
  filter: drop-shadow(0px 1.5px 2.7px rgba(0, 0, 0, 0.02)) drop-shadow(0px 3.7px 7px rgba(0, 0, 0, 0.03)) drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.04)) drop-shadow(0px 16px 29px rgba(0, 0, 0, 0.05)) drop-shadow(0px 43px 80px rgba(0, 0, 0, 0.07)); }
  .content-section .design-image img {
    width: 100%;
    height: auto; }
  .content-section .design-image.no-shadow {
    -webkit-filter: none;
    filter: none; }

.content-section .title-dscr {
  padding-bottom: 52px; }
  .content-section .title-dscr .section-title {
    padding-bottom: 16px; }
  .content-section .title-dscr .descr {
    padding-bottom: 16px;
    color: #343434;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.01em; }

.content-section .design-image-and-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 0; }
  .content-section .design-image-and-descr:last-child {
    padding-bottom: 65px; }
  .content-section .design-image-and-descr .design-image {
    width: calc( 66.66% - 30px);
    padding-bottom: 60px; }
  .content-section .design-image-and-descr .design-descr {
    padding-top: 52px;
    width: calc( 33.33% - 30px); }
    .content-section .design-image-and-descr .design-descr .item {
      padding-bottom: 33px; }
      .content-section .design-image-and-descr .design-descr .item .title {
        padding-bottom: 13px; }
      .content-section .design-image-and-descr .design-descr .item .text p {
        padding-bottom: 12px; }

.content-section .design-1col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 67px; }
  .content-section .design-1col .design-image {
    padding-bottom: 60px; }
    .content-section .design-1col .design-image.darkmode-switcher .dark {
      display: none; }

.content-section .design-2cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 97px; }
  .content-section .design-2cols .design-image {
    width: calc( 50% - 14px);
    padding-bottom: 28px; }

.content-section .design-3cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 60px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .content-section .design-3cols .design-image,
  .content-section .design-3cols .design-descr {
    width: calc( ( 100% - 120px ) / 3);
    padding-bottom: 60px; }
  .content-section .design-3cols .design-image.iphone {
    position: relative;
    -webkit-filter: drop-shadow(0px 1.5px 3.4px rgba(0, 0, 0, 0.3)) drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2)) drop-shadow(0px 18px 46px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 1.5px 3.4px rgba(0, 0, 0, 0.3)) drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2)) drop-shadow(0px 18px 46px rgba(0, 0, 0, 0.1)); }
    .content-section .design-3cols .design-image.iphone > img {
      position: absolute;
      top: 2.8%;
      left: 6.5%;
      width: 87%;
      z-index: -1; }
  .content-section .design-3cols .design-descr {
    padding-top: 52px; }
    .content-section .design-3cols .design-descr .item {
      padding-bottom: 33px; }
      .content-section .design-3cols .design-descr .item .title {
        padding-bottom: 13px; }
      .content-section .design-3cols .design-descr .item .text p {
        padding-bottom: 12px; }

.case-switcher .grid-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.case-switcher hr {
  position: absolute;
  top: 0;
  left: 60px;
  right: 60px;
  width: auto;
  height: 1px;
  margin: 0;
  background-color: rgba(89, 89, 89, 0.15); }

.case-switcher a {
  display: block;
  width: calc( 50% - 14px);
  padding: 60px 0 72px;
  background-color: #FFFFFF;
  -webkit-transition: background-color .3s, padding .3s;
  -o-transition: background-color .3s, padding .3s;
  transition: background-color .3s, padding .3s;
  text-decoration: none; }
  .case-switcher a .title {
    padding-bottom: 8px;
    color: #000007;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px; }
  .case-switcher a .case-name {
    color: rgba(89, 89, 89, 0.7);
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em; }
  .case-switcher a:hover {
    background-color: rgba(89, 89, 89, 0.15);
    padding-left: 60px; }

@media screen and (max-width: 1023px) {
  .problems-section {
    padding-bottom: 85px; }
    .problems-section .wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .problems-section .wrapper .item {
        width: calc( 50% - 14px);
        padding-bottom: 45px; }
  .ipad-pro-section .ipad-mask {
    display: none; }
  .ipad-pro-section .image-comparison-box {
    position: relative;
    top: 0;
    left: 0;
    right: 0; } }

@media screen and (max-width: 768px) {
  .content-section .design-image {
    padding-bottom: 28px; }
  .content-section .title-dscr {
    padding-bottom: 32px; }
  .content-section .design-image-and-descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .content-section .design-image-and-descr .design-image {
      width: 100%;
      padding-bottom: 60px; }
    .content-section .design-image-and-descr .design-descr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      width: 100%;
      padding: 0 0 20px; }
      .content-section .design-image-and-descr .design-descr .item {
        width: 100%; }
  .content-section .design-1col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .content-section .design-2cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 85px; }
    .content-section .design-2cols .design-image {
      width: 100%;
      padding-bottom: 40px; }
  .content-section .design-3cols {
    padding-bottom: 60px; }
    .content-section .design-3cols .design-image {
      width: calc( 50% - 30px); }
      .content-section .design-3cols .design-image.iphone {
        position: relative;
        -webkit-filter: drop-shadow(0px 1.5px 3.4px rgba(0, 0, 0, 0.3)) drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2)) drop-shadow(0px 18px 46px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0px 1.5px 3.4px rgba(0, 0, 0, 0.3)) drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2)) drop-shadow(0px 18px 46px rgba(0, 0, 0, 0.1)); }
        .content-section .design-3cols .design-image.iphone > img {
          position: absolute;
          top: 2.8%;
          left: 6.5%;
          width: 87%;
          z-index: -1; }
    .content-section .design-3cols .design-descr {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      width: 100%;
      padding-top: 0; }
      .content-section .design-3cols .design-descr .item {
        padding-bottom: 33px; }
        .content-section .design-3cols .design-descr .item .title {
          padding-bottom: 13px; }
        .content-section .design-3cols .design-descr .item:last-child {
          padding-bottom: 0; }
  .case-switcher a:hover {
    background-color: inherit;
    padding-left: 0; } }

@media screen and (max-width: 639px) {
  .hero-screen {
    position: relative;
    padding: 61px 0 76px; }
    .hero-screen .title-box {
      padding-bottom: 20px; }
    .hero-screen .project-cat-date {
      padding-bottom: 22px;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.01em; }
      .hero-screen .project-cat-date .category {
        padding-right: 16px; }
    .hero-screen .project-descr {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.01em; }
  .problems-section {
    padding-bottom: 45px; }
    .problems-section .section-title {
      padding-bottom: 20px; }
    .problems-section .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .problems-section .wrapper .item {
        width: 100%;
        padding-bottom: 25px; }
  .ipad-pro-section {
    display: none; }
  .content-section:last-child {
    padding-bottom: 20px; }
  .content-section .design-image {
    padding-bottom: 28px;
    -webkit-filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 18px rgba(0, 0, 0, 0.08)) drop-shadow(0px 16px 30px rgba(0, 0, 0, 0.04));
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 18px rgba(0, 0, 0, 0.08)) drop-shadow(0px 16px 30px rgba(0, 0, 0, 0.04)); }
  .content-section .title-dscr {
    padding-bottom: 19px; }
    .content-section .title-dscr .descr {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.01em; }
  .content-section .design-image-and-descr {
    padding-bottom: 35px; }
    .content-section .design-image-and-descr .design-image {
      padding-bottom: 28px; }
    .content-section .design-image-and-descr .design-descr .item {
      padding-bottom: 13px; }
  .content-section .design-1col {
    padding-bottom: 35px; }
    .content-section .design-1col .design-image {
      padding-bottom: 28px; }
  .content-section .design-2cols {
    padding-bottom: 35px; }
    .content-section .design-2cols .design-image {
      padding-bottom: 28px; }
  .content-section .design-3cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 35px; }
    .content-section .design-3cols .design-image {
      width: 100%;
      padding-bottom: 28px; }
      .content-section .design-3cols .design-image.iphone {
        position: relative;
        -webkit-filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 18px rgba(0, 0, 0, 0.08)) drop-shadow(0px 16px 30px rgba(0, 0, 0, 0.04));
        filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 18px rgba(0, 0, 0, 0.08)) drop-shadow(0px 16px 30px rgba(0, 0, 0, 0.04)); }
        .content-section .design-3cols .design-image.iphone > img {
          position: relative;
          top: 0;
          left: 0;
          width: 100%; }
      .content-section .design-3cols .design-image .iphone-mask {
        display: none; }
    .content-section .design-3cols .design-descr {
      padding-bottom: 20px; }
      .content-section .design-3cols .design-descr .item {
        padding-bottom: 13px; }
        .content-section .design-3cols .design-descr .item:last-child {
          padding-bottom: 13px; }
  .case-switcher hr {
    left: 28px;
    right: 28px;
    height: 0.5px; }
  .case-switcher a {
    width: 100%;
    padding: 65px 0 45px; }
    .case-switcher a.prev-case {
      display: none; }
    .case-switcher a .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px; }
    .case-switcher a .case-name {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em; } }

body.dark .hero-screen .project-cat-date {
  color: rgba(255, 255, 255, 0.65); }

body.dark .hero-screen .project-descr {
  color: #FFFFFF; }

body.dark .hero-screen .blur-bg .blur {
  background: rgba(0, 0, 7, 0.82); }

body.dark .content-section .title-dscr .descr {
  color: #DFDFDF; }

body.dark .content-section .design-1col .design-image.darkmode-switcher .light,
body.dark .content-section .safari-bar .light {
  display: none; }

body.dark .content-section .design-1col .design-image.darkmode-switcher .dark,
body.dark .content-section .safari-bar .dark {
  display: block; }

body.dark .case-switcher hr {
  background-color: rgba(255, 255, 255, 0.25); }

body.dark .case-switcher a {
  background-color: #000007; }
  body.dark .case-switcher a .title {
    color: #FFFFFF; }
  body.dark .case-switcher a .case-name {
    color: rgba(255, 255, 255, 0.65); }
  body.dark .case-switcher a:hover {
    background-color: rgba(255, 255, 255, 0.25); }
