.grid-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 60px; }

.grid-container-slim {
  width: 100%;
  max-width: 948px;
  margin: auto;
  padding: 0 60px; }

hr {
  width: 100%;
  height: 1px;
  margin: 20px auto;
  padding: 0;
  border: 0; }

.button {
  display: block;
  min-width: 200px;
  height: 52px;
  padding-top: 12px;
  border: none;
  cursor: pointer;
  -webkit-transition: color .3s, background-color .3s, -webkit-transform .3s;
  transition: color .3s, background-color .3s, -webkit-transform .3s;
  -o-transition: color .3s, background-color .3s, transform .3s;
  transition: color .3s, background-color .3s, transform .3s;
  transition: color .3s, background-color .3s, transform .3s, -webkit-transform .3s;
  text-decoration: none;
  text-align: center; }
  .button.button-text {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em; }
  .button.button-black {
    padding-top: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em; }
    .button.button-black:hover {
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03); }
  .button.button-border {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    border: 1px solid; }

@media screen and (max-width: 639px) {
  .grid-container,
  .grid-container-slim {
    padding: 0 24px; }
  .button {
    padding-top: 12px; }
    .button.button-text {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em; }
    .button.button-black, .button.button-border {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em; } }

.main-content {
  padding-bottom: 168px; }
  .main-content .title-box {
    padding-top: 80px;
    text-align: center; }
  .main-content .featured-cases-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 115px; }
    .main-content .featured-cases-box .case-item {
      width: calc( ( 100% - 56px ) / 3); }
  .main-content .open-works-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 21px; }
    .main-content .open-works-button .button {
      width: calc( ( 100% - 56px ) / 3); }

@media screen and (max-width: 768px) {
  .main-content {
    padding-bottom: 100px; }
    .main-content .title-box {
      text-align: left; }
    .main-content .featured-cases-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .main-content .featured-cases-box .case-item {
        width: 100%;
        margin-bottom: 34px; }
    .main-content .open-works-button {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding-top: 14px; }
      .main-content .open-works-button .button {
        text-align: left;
        width: 50%; } }

@media screen and (max-width: 639px) {
  .main-content {
    padding-bottom: 100px; }
    .main-content .title-box {
      padding-top: 61px; }
    .main-content .featured-cases-box {
      padding-top: 125px; }
    .main-content .open-works-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 21px; }
      .main-content .open-works-button .button {
        width: 100%; } }
