
// Colors
// ============================================================================

$black: #000007;
$white: #FFFFFF;

$black-op: rgba(0, 0, 7, .82);
$white-op: rgba(255, 255, 255, .9);

$light__grey-1: rgba(89, 89, 89, 0.15);
$light__grey-2: rgba(89, 89, 89, 0.35);
$light__grey-3: rgba(89, 89, 89, 0.70);
$light__grey-4: #343434;

$dark__grey-1: rgba(255, 255, 255, 0.25);
$dark__grey-2: rgba(255, 255, 255, 0.35);
$dark__grey-3: rgba(255, 255, 255, 0.65);
$dark__grey-4: #DFDFDF;


// Grid
// ============================================================================

.grid-container {
    width:     100%;
    max-width: 1440px;
    margin:    auto;
    padding:   0 60px;
}

.grid-container-slim {
    width:     100%;
    max-width: 948px;
    margin:    auto;
    padding:   0 60px;
}


// Text styles
// ============================================================================

@mixin desktop__48-bold {
    font-weight: bold;
    font-size:   48px;
    line-height: 72px;
}

@mixin desktop__28-bold {
    font-weight:    bold;
    font-size:      28px;
    line-height:    40px;
}

@mixin desktop__20-bold {
    font-weight:    bold;
    font-size:      20px;
    line-height:    24px;
    letter-spacing: 0.01em;
}

@mixin desktop__20-reg {
    font-weight:    normal;
    font-size:      20px;
    line-height:    24px;
    letter-spacing: 0.01em;
}

@mixin desktop__20-32-reg {
    font-weight:    normal;
    font-size:      20px;
    line-height:    32px;
    letter-spacing: 0.01em;
}

@mixin desktop__16-reg {
    font-weight:    normal;
    font-size:      16px;
    line-height:    24px;
    letter-spacing: 0.01em;
}

@mixin desktop__14-reg {
    font-weight:    normal;
    font-size:      14px;
    line-height:    20px;
    letter-spacing: 0.01em;
}


@mixin mobile__36-bold {
    font-weight: bold;
    font-size:   36px;
    line-height: 48px;
}

@mixin mobile__24-bold {
    font-weight: bold;
    font-size:   24px;
    line-height: 36px;
}

@mixin mobile__18-bold {
    font-weight:    bold;
    font-size:      18px;
    line-height:    24px;
    letter-spacing: 0.01em;
}

@mixin mobile__18-reg {
    font-weight:    normal;
    font-size:      18px;
    line-height:    24px;
    letter-spacing: 0.01em;
}

@mixin mobile__18-28-reg {
    font-weight:    normal;
    font-size:      18px;
    line-height:    28px;
    letter-spacing: 0.01em;
}

@mixin mobile__15-reg {
    font-weight:    normal;
    font-size:      15px;
    line-height:    21px;
    letter-spacing: 0.01em;
}

@mixin mobile__13-reg {
    font-weight:    normal;
    font-size:      13px;
    line-height:    18px;
    letter-spacing: 0.01em;
}


// Other
// ============================================================================

hr {
    width:   100%;
    height:  1px;
    margin:  20px auto;
    padding: 0;
    border:  0;
}


// Buttons
// ============================================================================

.button {
    display: block;
    min-width: 200px;
    height: 52px;
    padding-top: 12px;

    border: none;
    cursor: pointer;
    transition: color .3s, background-color .3s, transform .3s;

    text-decoration: none;
    text-align: center;

    &.button-text {
        background-color: transparent;
        @include desktop__20-bold;
    }

    &.button-black {
        padding-top: 0;
        @include desktop__20-reg;

        &:hover { transform: scale(1.03); }
    }

    &.button-border {
        @include desktop__20-reg;
        border: 1px solid;
    }
}


// Effects
// ============================================================================

@mixin light__card-hover-shadow {
    box-shadow:
        0 8.7px 1.6px -24px rgba(0, 0, 0, 0.007),
        0 18.5px 6.5px -24px rgba(0, 0, 0, 0.023),
        0 30.1px 16.7px -24px rgba(0, 0, 0, 0.053),
        0 44.9px 35.6px -24px rgba(0, 0, 0, 0.092),
        0 66px 71px -24px rgba(0, 0, 0, 0.12);
}

@mixin dark__card-hover-shadow {
    box-shadow:
        0px 40px 250px rgba(255, 255, 255, 0.3),
        0 8.7px 1.6px -24px rgba(0, 0, 0, 0.007),
        0 18.5px 6.5px -24px rgba(0, 0, 0, 0.023),
        0 30.1px 16.7px -24px rgba(0, 0, 0, 0.053),
        0 44.9px 35.6px -24px rgba(0, 0, 0, 0.092),
        0 66px 71px -24px rgba(0, 0, 0, 0.12);
}



// ============================================================================
// Mobile < 640
// ============================================================================


@media screen and (max-width: 639px) {
    .grid-container,
    .grid-container-slim {
        padding: 0 24px;
    }


    // Buttons
    // ============================================================================

    .button {
        padding-top: 12px;

        &.button-text {
            @include mobile__18-bold;
        }

        &.button-black,
        &.button-border {
            @include mobile__18-reg;
        }
    }
}
