body.dark {
    background-color: $black;
    background-color: $black;

    ::selection {
        color: $black;
        background-color: $white;
    }


    // Local typo
    // ============================================================================

    h1 { color: $white }
    
    h2 { color: $white }

    h3 { color: $white }

    p { color: $dark__grey-4 }

    .button {
        &.button-text {
            color: $dark__grey-3;

            &:hover { color: $white; }
        }
    }


    // Mobules
    // ============================================================================

    .case-item {
        .case-cover {
            img {
                &.light { display: none; }
                &.dark { display: block }
            }
        }

        .case-title { color: $dark__grey-4 }
        .case-descr { color: $dark__grey-3 }

        &:hover {
            .case-cover { @include dark__card-hover-shadow; }
            .case-title { color: $white }
        }
    }

        
    // ============================================================================
    // For 404
    // ============================================================================

    .page-not-found {
        svg {
            fill: $white;
        }
    }
}

