@import "reset.scss";
@import "components.scss";


// Including fonts
// ============================================================================

@font-face {
    font-family: 'Object Sans';
    src: url('../assets/fonts/subset-ObjectSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/subset-ObjectSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Object Sans';
    src: url('../assets/fonts/subset-ObjectSans-Bold.woff2') format('woff2'),
        url('../assets/fonts/subset-ObjectSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


// Basic
// ============================================================================

body {
    padding-top: 128px;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    font-family: 'Object Sans', sans-serif;

    ::selection {
        color: $white;
        background-color: $black;
    }
}

input, textarea {
    font-family: 'Object Sans', sans-serif;
}



// Local typo
// ============================================================================

h1 {
    color: $black;
    @include desktop__48-bold;
}

h2 {
    color: $black;
    @include desktop__28-bold;
    text-transform: capitalize;
}

h3 {
    color: $black;
    @include desktop__20-bold;
    text-transform: capitalize;
}

p {
    color: $light__grey-4;
    @include desktop__16-reg;
}

.button {
    &.button-text {
        color: $light__grey-3;

        &:hover { color: $black; }
    }
}


// Mobules
// ============================================================================

.case-item {
    a {
        text-align: center;
        text-decoration: none;
    }

    .case-cover {
        position: relative;
        width: 100%;
        padding-top: 66.66%;

        background-color: gray;
        box-shadow: 0;
        transition: transform .5s, box-shadow .5s;

        img {
            position: absolute;
              top: 0;
              left: 0;
            width: 100%;
            height: 100%;

            &.light { z-index: 2; }
            &.dark {
                display: none;
                z-index: 1;
            }
        }
    }

    .case-title {
        padding-top: 13px;
        color: $light__grey-4;
        @include desktop__20-reg;
    }

    .case-descr {
        padding-top: 6px;
        
        opacity: 0;
        transition: opacity .3s;

        color: $light__grey-3;
        @include desktop__14-reg;
    }

    &:hover {
        .case-cover {
            @include light__card-hover-shadow;
            transform: scale(1.021) translateY(-8px);

            img {
                position: absolute;
                  top: 0;
                  left: 0;
                width: 100%;
                height: 100%;

                &.light { z-index: 2; }
                &.dark {
                    display: none;
                    z-index: 1;
                }
            }
        }

        .case-title { color: $black }
        .case-descr { opacity: 1 }
    }
}



// ============================================================================
// Tablet <= 768
// ============================================================================

@media screen and (max-width: 768px) {


// Mobules
// ============================================================================

    .case-item {
        a { text-align: left; }
        .case-title { padding-top: 17px }
        .case-descr { opacity: 1 }
    }
}



// ============================================================================
// Mobile < 640
// ============================================================================

@media screen and (max-width: 639px) {
    body {
        padding-top: 80px;

        &.fix { overflow: hidden; }
    }


    // Local typo
    // ============================================================================

    h1 { @include mobile__36-bold }
    h2 { @include mobile__24-bold }
    h3 { @include mobile__18-bold }
    p { @include mobile__15-reg }

// Mobules
// ============================================================================

    .case-item {
        .case-title {
            padding-top: 16px;
            @include mobile__18-reg;
        }
        
        .case-descr {
            padding-top: 4px;
            @include mobile__13-reg;
        }
    }
}



@import "main-darkmode.scss";

@import "header.scss";
@import "footer.scss";
